# VSCode
.vscode
.vscode/settings.json
.vscode/tasks.json

# Python build artefacts
__pycache__
MANIFEST.in
_skbuild
dist
mimir.egg-info
pymimir.egg-info

# Profiling
perf*
gmon*

# Trained models
*hparams
*pnn

# CUDA, CuDNN and libtorch
*deb
*pin
libtorch*

# Build artefacts
build
dependencies/installs
out
*.sif

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs

# Statespace files
*.statespace

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
