include README.md
recursive-include src/Mimir.Pddl *.cs *.csproj
recursive-include src/Mimir.Core *.cs *.csproj
recursive-include src/Mimir.Search *.cs *.csproj
recursive-include src/Mimir.Interop *.cs *.csproj
prune src/Mimir.Pddl/obj
prune src/Mimir.Core/obj
prune src/Mimir.Search/obj
prune src/Mimir.Interop/obj
