[build-system]
requires = [
    "setuptools>=42",
    "pybind11_stubgen",
    "wheel",
    "cmake>=3.21",
]
build-backend = "setuptools.build_meta"


[tool.cibuildwheel]
build = "cp38-* cp39-* cp310-* cp311-* cp312-*"
archs = "auto64"
container-engine = "docker"
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"

[tool.cibuildwheel.linux]
repair-wheel-command = "auditwheel repair -w {dest_dir} {wheel}"

[tool.cibuildwheel.macos]
repair-wheel-command = "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}"
