name: Integration Tests
on: [push, pull_request]


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout Mimir
      uses: actions/checkout@v2
      with:
        ref: templated-design

    - name: Configure, Build, and Install Dependencies
      run: |
        cd tests/integration/dependencies
        cmake -S . -B build -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/tests/integration/dependencies/installs
        cmake --build build -j$(nproc)

    - name: Build and Test Project
      run: |
        cd tests/integration
        cmake -S . -B build -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/tests/integration/dependencies/installs"
        cmake --build build -j$(nproc)
