name: Integration Tests - Macos

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout Mimir
      uses: actions/checkout@v2

    - name: Install bison & flex (Homebrew) and update PATH
      run: |
        brew update
        brew install bison flex
        echo "$(brew --prefix bison)/bin" >> $GITHUB_PATH
        echo "$(brew --prefix flex)/bin"  >> $GITHUB_PATH

    - name: Configure, Build, and Install Dependencies
      run: |
        cd tests/integration/dependencies
        cmake -S . -B build -DCMAKE_INSTALL_PREFIX="$GITHUB_WORKSPACE/tests/integration/dependencies/installs"
        cmake --build build

    - name: Build and Test Project
      run: |
        cd tests/integration
        cmake -S . -B build -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/tests/integration/dependencies/installs"
        cmake --build build
